.busca-container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.busca-container div {
    display: flex;
    gap: 5px;
}


.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* Coluna esquerda */
.esquerda {
    flex: 1;
    max-width: 650px;
}

/* Coluna direita */
.direita {
    flex: 1;
    min-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-height: 90vh;
    overflow-y: auto;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

button[id="submitButton"] {
    background-color: #78D237;
}

button[id="deleteButton"] {
    background-color: #F51400
}

button:hover {
    opacity: 0.85;
}

button[type="button"] {
    background-color: #6c757d;
}

form.editing {
    border: 2px solid orange;
    background-color: #fff8e7;
    padding: 10px;
    border-radius: 8px;
}

form.editing input {
    background-color: #fffbe6;
}

#resultadoBusca {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: fit-content;
}
